@{ 
    Layout = "_Layout";
}

<div class="mx-auto row row-cols-3 text-white text-lg-center font-weight-bold">
    <a class="col m-3 p-3 rounded text-center index-text" asp-controller="LocalCommittee">Local Committees</a>
    <a class="col m-3 p-3 rounded text-center index-text">Functional Fields</a>
    <a class="col m-3 p-3 rounded text-center index-text" asp-controller="Office">Offices</a>
    <a class="col m-3 p-3 rounded text-center index-text">Teams</a>  
    <a class="col m-3 p-3 rounded text-center index-text">Users</a>
    <a class="col m-3 p-3 rounded text-center index-text">Cities</a>
</div>                             